* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 24px;
}

header {
  background-color: #333;
  color: #FFFAE1;
  padding: 5%;
  margin: 0%;
  text-align: left;
	font-family: Georgia, serif;
}

header h1 {
  margin: 0;
	text-shadow: .1em .1em .1em #2F4F4F;
	font-size: 3.2em;
  padding-bottom: .25em;
  width: auto;
}

header h2 {
	margin: 0;
	font-size: 2em;
}

h2 {
  padding:0;
  margin: 0;
  font-size: 1.5em;
  }

h3 {
padding:0;
margin: 0;
font-size: 1.25em;
}

h4 {
padding:0;
margin: 0;
font-size: 1em;}


p{
font-size: 1em;
}

div{
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.p-small{
font-size: 1em;
}

/*menu*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #FFFAE1;
  background-color: #2F4F4F;
}

li{
font-size: 1em;
}

li a {
  display: block;
  color: #FFFAE1;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1.2em;
  border-bottom:#FFFAE1 solid 1px
}

li a.active {
  background-color: #4b8080;
  color: #FFFAE1;
  
}

li a:hover:not(.active) {
  background-color: #FFFAE1;
  color: #2F4F4F;
}


.tr-lang{
line-height:1.5em;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 0;
   margin-top: 0;
   width: 90%;
  	margin-left:auto;
  	margin-right:auto;
}

.foot-link{
  background-color: #4b8080;
  color: #FFFAE1;
  font-size: 1.2em;
  text-align: center;
  margin: 1em .6em 0 0;
  padding:.5em 1em;
  display: inline-block;
}

footer {
    background-color: #333;
    color: #FFFAE1;
    text-align: center;
    padding: .5em;
    position: relative;
    width: 100%;
    height:auto;
    bottom: 0;
    margin: auto;
    font-size: .8em;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  padding: .5em;
  margin-top: 0em;
  /*border: solid black;*/
}

.skill-label{
  color: black;
  background-color: transparent;
  border: #333 solid 1px;
  padding: .1em;
  margin: 1.5em;
  
}
.body-list{
  color:black;
  background-color: transparent;
  margin: 0;
  line-height: 1.5em;
  width: 100%;
  list-style-position: inside;
  font-size: 1em;
}

.GD-image{
  height:15em;
  border: none;
  margin: 0;
  padding:0;
}
.GD-cap{
  padding-top: auto;
  padding-bottom: auto;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}